
.container_FormRegister{
    border: 3px solid #FF7F32;
    width: 30%;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container_PR{
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Logo{
  border-radius: 100%;
}